@font-face {
  font-family: mainFont;
  src: url(./19510.otf);
}

@font-face {
  font-family: payButton;
  src: url(./18036.otf);
}

body {
  margin: 0;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}
.wrapper {
  border: cornsilk 1px solid;
  height: 100%;
  margin: 5px auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgb(119, 119, 119) 100%
  );
  box-shadow: 3px 3px 9px 2px #504f4f;
}

.header-section {
  margin: 0 auto;
  width: 90%;
  display: flex;
  padding: 5px;
}

.image-cup {
  width: 15%;
}

.cancel-button {
  width: 25%;
  height: 80px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: tomato;
}

.button-section {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  padding: 5px;
}

.button {
  font-family: mainFont;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 330px;
  height: 150px;
  cursor: pointer;
  border-radius: 15px;
  background-color: wheat;
  box-shadow: 3px 3px 9px 2px #504f4f;
  color: #1d1b1b;
  border: solid rgb(163, 163, 163) 4px;
}

.cup-section {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.cup {
  display: flex;
  justify-content: center;
  box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.2), inset 0px 1px 5px #999,
    inset 0px 2px 0px #888, inset 0px 3px 0px #777, inset 0px 4px 0px #666,
    inset 0px 5px 0px #555, inset 0px 6px 0px #444, inset 0px 7px 0px #333,
    inset 0px 8px 7px #001135;
  width: 35%;
  height: 250px;
}

.paybutton {
  font-family: payButton;
  font-size: 48px;
  width: 20%;
  height: 90px;
  border-radius: 15px;
  background: rgb(61, 224, 0);
  background: radial-gradient(
    circle,
    rgba(61, 224, 0, 1) 0%,
    rgba(8, 117, 36, 1) 100%
  );
  margin-top: 30px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 3px 3px 9px 2px #504f4f;
  color: #030101;
  font-weight: bold;
  border: solid rgb(163, 163, 163) 4px;
}

.addons-status {
  padding-top: 8px;
  margin: 10px;
  width: 30%;
  box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.2), inset 0px 1px 5px #999,
  inset 0px 2px 0px #888, inset 0px 3px 0px #777, inset 0px 4px 0px #666,
  inset 0px 5px 0px #555, inset 0px 6px 0px #444, inset 0px 7px 0px #333,
  inset 0px 8px 7px #001135;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.cups-status {
  margin: 10px;
  width: 30%;
}

.cup-status {
  box-shadow: inset 0 0 100px hsla(0, 0%, 0%, 0.2), inset 0px 1px 5px #999,
  inset 0px 2px 0px #888, inset 0px 3px 0px #777, inset 0px 4px 0px #666,
  inset 0px 5px 0px #555, inset 0px 6px 0px #444, inset 0px 7px 0px #333,
  inset 0px 8px 7px #001135;
  border: 1px solid black;
  margin-bottom: 5px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  font-size: xx-large;
  font-weight: 900;
}

.milk {
  height: 100%;
  width: 50px;
  border: 2px solid black;
  text-align: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 250, 144, 1) 100%
  );
  transition: 1.5s ease;
  border-radius: 10px;
  text-shadow: black 0 0 4px;
}

.cherry {
  height: 100%;
  width: 50px;
  border: 2px solid black;
  text-align: center;
  background: rgb(255, 65, 65);
  background: linear-gradient(
    0deg,
    rgba(255, 65, 65, 1) 0%,
    rgba(59, 0, 0, 1) 100%
  );
  color: antiquewhite;
  transition: 1.5s ease;
  border-radius: 10px;
  text-shadow: black 0 0 4px;
}

.vanilla {
  height: 100%;
  width: 50px;
  border: 2px solid black;
  text-align: center;
  background: rgb(255, 136, 0);
  background: linear-gradient(
    0deg,
    rgba(255, 136, 0, 1) 0%,
    rgba(255, 252, 0, 1) 100%
  );
  transition: 1.5s ease;
  border-radius: 10px;
  text-shadow: black 0 0 4px;
}

.banana {
  height: 100%;
  width: 50px;
  border: 2px solid black;
  text-align: center;
  background: rgb(241, 255, 98);
  background: linear-gradient(
    0deg,
    rgba(241, 255, 98, 1) 0%,
    rgba(255, 252, 0, 1) 100%
  );
  transition: 1.5s ease;
  border-radius: 10px;
  text-shadow: black 0 0 4px;
}

.monitor {
  background-color: rgb(46, 53, 51);
  padding: 10px;
  border: 3px solid rgb(255, 255, 255);
  width: 60%;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border-radius: 15px;
}

.screen {
  height: 50px;
  background-color: #bcc9ce;
  color: rgb(41, 47, 65);
  border: #ffffff 1px solid;
  padding: 5px;
  border-radius: 15px;
}

.progress-bar {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 15px;
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  width: 0%;
  height: 50px;
  color: white;
  font-family: payButton;
  font-size: x-large;
  font-weight: 700;
  text-shadow: black 0 0 4px;
}

.coffe-cup {
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.muted {
  background-color: rgb(185, 185, 185);
  pointer-events: none;
  color: black;
}

.coffee-image {
  border: 2px white solid;
  margin: 3px;
  margin-top: 25px;
  border-radius: 20px;
}
