body {
  margin: 0;
}
.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 100%;
  border: 1px solid gray;
}

.header-section {
  margin: 0 auto;
  width: 90%;
  display: flex;
  padding: 5px;
}

.price {
  width: 15%;
  border: 1px black solid;
}

.cancel-button {
  width: 25%;
  height: 80px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: tomato;
}

.button-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: 90%;
  padding: 5px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 330px;
  height: 150px;
  cursor: pointer;
  border-radius: 15px;
  background-color: wheat;
  box-shadow: 3px 3px 9px 2px #504f4f;
  color: #1d1b1b;
  text-shadow: 1px 3px 0 #969696, 1px 5px 2px #aba8a8;
}

.cup-section {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.cup {
  display: flex;
  justify-content: center;
  width: 35%;
  height: 250px;
}

.paybutton {
  width: 25%;
  height: 100px;
  border-radius: 15px;
  background-color: rgb(140, 233, 224);
  margin-left: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 3px 3px 9px 2px #504f4f;
  color: #ffffff;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.addons-status {
  background-color: rgb(83, 80, 80);
  margin: 10px;
  width: 30%;

  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.cups-status {
  margin: 10px;
  width: 30%;
}

.cup-status {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 50%;
  font-size: xx-large;
  font-weight: 900;
}

.milk {
  height: 100%;
  width: 50px;
  background-color: blanchedalmond;
  transition: 1.5s ease;
}

.cherry {
  height: 100%;
  width: 50px;
  background-color: darkred;
  transition: 1.5s ease;
}

.vanilla {
  height: 100%;
  width: 50px;
  background-color: khaki;
  transition: 1.5s ease;
}

.banana {
  height: 100%;
  width: 50px;
  background-color: gold;
  transition: 1.5s ease;
}

.monitor {
  width: 60%;
  border: brown 1px solid;
  display: flex;
  flex-direction: column;
}

.screen {
  width: 100%;
  height: 50px;
}

.progress-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: brown;
  width: 0%;
  height: 50px;
  color: white;
  font-size: x-large;
  font-weight: 700;
}

.coffe-cup {
  width: 50%;
  height: 100%;
  cursor: pointer;
}

.muted {
  background-color: gray;
  pointer-events: none;
}
